<nav>
  <div class="site-title">
    <a href="/"><h1>Address Book</h1></a>
    <p>An adress book</p>
  </div>
  <ul>
    <li><a href="/">Persons list</a></li>
    <li><a href="/find">Find</a></li>
    <li><a href="/remove">Remove</a></li>
    <li><a href="/book/create">Add person</a></li>
  </ul>
</nav>